@charset "UTF-8";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-family: 'Raleway', sans-serif;
}

// LAYOUT
.navbar-brand a {
  color: white;
  text-decoration: none;
}

.nav-link a {
  color: white;
  text-decoration: none;
}



.progress-bar {
  background-color: #5385C1;
}